@import "../../packages/bootstrap-4.5.3/scss/bootstrap";
@import "_variables";
@import "variablesColors";
@import "extends";
@import "mixins";

@font-face {
  font-family: "Georgia";
  src: url("../../packages/fonts/geo/Georgia.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../../packages/fonts/geo/Georgia-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ffffff;
  //height: 100%;
}

body {
  margin: 0 auto;
  font-family: Georgia, sans-serif;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.container {
  //max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    flex-flow: column;
    align-items: center;
  }
}

.b-logo {
  display: flex;
  margin-top: 35px;

  .b-logo__name {
    color: $varColorBlack;
    font-family: $varFontGeorgia;
    font-size: 36px;
    margin: 0;
  }
}

.b-social-nav {
}

.b-socials {
  background-color: $varGreenTheme;
  width: fit-content;
  width: -moz-fit-content;

  .b-socials__ul {
    @extend %flexForUl;
    margin-bottom: 35px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1rem;
    }

    .b-socials__list {
      padding: 8px;

      .b-socials__link {
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        background-color: #333333;
        text-align-last: center;
        border-radius: 50%;
        color: #ffffff;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          transform: scale(1.1);
        }

        i {
        }
      }
    }
  }
}

//модификатор для b-socials
.b-socials_header_bottom_radius {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  @include media-breakpoint-down(sm) {
    border-radius: 15px;
  }
}

.b-auth {

  .b-auth__ul {
    @extend %flexForUl;
    margin-bottom: 35px;

    .b-auth__list {

      .b-auth__link {
        color: $varGreenTheme;
        font-family: $varFontGeorgia;
        font-size: 12px;
        text-decoration: none;

        &:hover {
          opacity: $varHoverOpacity;
        }
      }
    }
  }
}

.b-navigationSlider {
  background-color: $varGreenTheme;
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    align-content: center;
  }
}

.b-nav {

  @include media-breakpoint-down(md) {
    flex-grow: 1;
  }

  @include media-breakpoint-down(md) {
    align-self: center;
  }

  .b-nav__ul {
    @extend %flexForUl;
    margin: 0;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-flow: column;
      text-align: center;
    }

    .b-nav__list {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }

      .b-nav__link {
        text-decoration: none;
        color: $varColorWhite;
        font-family: $varFontGeorgia;
        font-size: 13px;
        transition: 0.2s;

        &:hover {
          color: $varColorBlack;
        }
      }
    }
  }
}

.b-search {

  .b-search__form {
    position: relative;

    label {
      margin: 0;
    }

    .b-search__inputSearch {
      color: #7f7f7f;
      width: 282px;
      height: 30px;
      padding-left: 5px;
      @extend %styleForNavInput;
    }

    .b-search__inputSubmit {
      padding: 0 1px 0 1px;
      position: absolute;
      right: 0;
      height: 100%;
      color: $varGreenTheme;
      font-weight: bold;
      background-color: $varColorWhite;
      @extend %styleForNavInput;

      &:hover {
        opacity: $varHoverOpacity;
      }
    }
  }
}

//Модификатор margin для md
.b-search_margin_md_navBlock {

  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.b-slider {
}

main {
  flex-grow: 1;
}

.b-aboutUs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding-bottom: 50px;
  padding-top: 50px;

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
  }
}

.b-peopleArticle {
  text-align: center;

  .b-peopleArticle__logo {
    margin-bottom: 15px;
  }

  .b-peopleArticle__head {
    @include articleStyles($varGreenTheme, 18px, 21.6px);
    margin-bottom: 15px;
  }

  .b-peopleArticle__text {
    @include articleStyles(#888888, 13px, 20.8px);

    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
  }
}

.b-globeArticle {
  @extend .b-peopleArticle;

  .b-globeArticle__logo {
    @extend .b-peopleArticle__logo;
  }

  .b-globeArticle__head {
    @extend .b-peopleArticle__head;
  }

  .b-globeArticle__text {
    @extend .b-peopleArticle__text;
  }
}

.b-cogsArticle {
  @extend .b-peopleArticle;

  .b-cogsArticle__logo {
    @extend .b-peopleArticle__logo;
  }

  .b-cogsArticle__head {
    @extend .b-peopleArticle__head;
  }

  .b-cogsArticle__text {
    @extend .b-peopleArticle__text;
  }
}

.b-natureArticle {
  @extend .b-peopleArticle;

  .b-natureArticle__logo {
    @extend .b-peopleArticle__logo;
  }

  .b-natureArticle__head {
    @extend .b-peopleArticle__head;
  }

  .b-natureArticle__text {
    @extend .b-peopleArticle__text;
  }
}

.b-ourProject {
  @extend .b-aboutUs;
}

.b-project {

  .b-project__img {
  }

  .b-project__head {
    @include articleStyles(#444444, 14px, 16.8px);
    text-align: left;
  }

  .b-project__text {
    @include articleStyles(#878787, 13px, 20.8px);
    text-align: left;
    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }
  }

  .b-project__details {
    @include articleStyles($varGreenTheme, 13px, 13px);
    float: right;
  }
}

footer {
  flex-shrink: 0;
}

.b-footerWrapper {
}

.b-contacts {

  .b-contacts__head {
  }

  .b-contacts__text {
  }

  .b-contacts__address {
  }
}

.b-links {

  .b-links__head {
  }

  .b-links__ul {

    .b-links__list {

      .b-links__link {
      }
    }
  }
}

.b-blog {

  .b-blog__head {
  }

  .b-blog__title {
  }

  .b-blog__author {
  }

  .b-blog__text {
  }

  .b-blog__link {
  }
}

.b-subscribeFrom {

  .b-subscribeFrom__head {
  }

  .b-subscribeFrom__inputName {
  }

  .b-subscribeFrom__inputEmail {
  }

  .b-subscribeFrom__inputSubmit {
  }
}

.b-runningTitle {

  .b-runningTitle__head {
  }

  .b-runningTitle__text {
  }
}

.padding-site {
  padding-left: 30px;
  padding-right: 30px;
}
